#jumble {

  padding-left: 10%;
  background-image: url("../img/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid red;
  height:700px;
  width: auto;

}

#logos{
  margin-left:10%;
  float:left;
}


ul {
  display:flex;
  float:right;

}

li {
  text-decoration: none;

}

h1 .titre {
  color:white;
}

.sous-titre{
color:white;
}

#logo{
  margin:12.5%
}
